.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  color: #fff;
  padding: 28px 0 0;
  margin: 0;
}

@media screen and (max-width: 1124px) {
  .header {
    padding: 28px 48px 0;
  }
}

@media screen and (max-width: 984px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding: 5vw 5vw 0;
    margin: 0 ;
  }
}