.place {
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,auto);
  max-width: 984px;
  padding-bottom: 80px;
}

.place:last-child {
  padding: 0;
}

@media screen and (max-width: 1124px) {
  .place {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    max-width: 720px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 50px;
  }
}
  